/* static/styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner-img {
    width: 250px;
    height: 75px; 
    object-fit: cover;
    object-position: center;
}

.navbar-custom {
    height: 90px;
    width: 100%;
}

/* Nueva clase para los enlaces de navegación */
.nav-link-custom {
    color: #343a40; /* Cambia el color según sea necesario */
    text-decoration: none; /* Elimina el subrayado */
}

.nav-link-custom:hover {
    color: #0056b3; /* Cambia el color al pasar el ratón por encima */
    text-decoration: underline; /* Añade el subrayado al pasar el ratón por encima */
}

.home-alert{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 120px; 
    margin-right: 80px;
    font-size: 30px;
    text-align: center;
}

.basic-service {
    text-align: center; /* Centra el contenedor de las imágenes */
}

.basic-service img {
    width: 300px; /* Ajusta según tus necesidades */
    height: auto; /* Mantén la proporción de la imagen */
    display: inline-block; /* Asegura que las imágenes se muestren en línea */
    margin: 0 10px; /* Espacio entre las imágenes */
}

.hide-elements .nav-item {
    display: none;
}



.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh; /* Ocupar toda la altura de la pantalla */
    padding: 2rem;
    background-color: #f0f0f0;
}

.login-item {
    width: 400px;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    height: auto;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: auto;
}

.form-text {
    margin-top: 0.25rem;
}